<div class="quizz-container">

  <div class="inicio-card">
    <div class="titulo">
      <h1>Que time é esse?</h1>
    </div>
    <div class="pontos">
      <div>
        <h1 >Placar</h1>
        <h2>{{pontuacao}}</h2>
      </div>

      <div>
        <h5>{{acertos}}/{{totalTimes}}</h5>
      </div>
    </div>

  </div>

  <div class="imagem-container" >
    <img [src]="timeTela.escudoPergunta" alt="Escudo do Time">
  </div>

  <!-- Card abaixo da imagem -->
  <div class="resposta-card">
    <label class="resposta-label">Qual sua Resposta?</label>
    <div class="botoes-container">
      <button class="opcao-botao" (click)="onOpcaoClick(opcoes[0])">{{ opcoes[0] }}</button>
      <button class="opcao-botao" (click)="onOpcaoClick(opcoes[2])">{{ opcoes[2] }}</button>
      <button class="opcao-botao" (click)="onOpcaoClick(opcoes[1])">{{ opcoes[1] }}</button>
      <button class="opcao-botao" (click)="onOpcaoClick(opcoes[3])">{{ opcoes[3] }}</button>
    </div>
  </div>
</div>

